{{ define "main" }}

<main>

  {{ $bgimage := (resources.Get "images/bg2.png").RelPermalink }}
  <section
    class="relative table w-full pb-0 lg:pb-0 bg-slate-800 bg-[url('{{ $bgimage }}')] bg-center bg-no-repeat bg-cover"
    style="background-image: url('{{$bgimage}}');">
    <div class="container px-4 mx-auto max-w-screen-xl">
      <div class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 items-center gap-[30px]">
        <div class="lg:col-span-7">
          <div class="mt-6">
            <h1 class="text-3xl md:text-4xl lg:text-6xl font-semibold  mb-5 text-white">About Outsourced
              Sales
            </h1>
            <p class="pr-0 my-8 text-base text-gray-200 sm:text-xl xl:text-2xl lg:pr-20">Outsourced Sales is
              a sales and marketing agency that works with small to medium size businesses to grow their
              sales. We offer a way to outsource your sales and marketing function so that you can
              concentrate on delivery of your products and services. </p>
            <div class="xs:none md:mt-20">
              <div class="flex flex-wrap -m-2.5 md:mb-20"></div>
            </div>
          </div>
        </div><!--end col-->

        <div class="lg:col-span-5 mt-8 md:mt-0">
          {{ with resources.Get "images/sales-man.png" }}
          {{ $small := (.Resize "400x webp q80").RelPermalink }}
          {{ $medium := (.Resize "550x webp q80").RelPermalink }}
          {{ $large := (.Resize "900x webp q80").RelPermalink }}
          {{ $featuredimage := (.Resize "1500x webp q80").RelPermalink }}
          <img class="object-scale-down xs:mx-auto xs:h-96 md:h-auto" src="{{ $featuredimage }}" srcset="
          {{- with $small -}}, {{.}} 400w{{- end -}}
          {{- with $medium -}}, {{.}} 550w{{- end -}}
          {{- with $large -}}, {{.}} 768w{{- end -}}
          {{- with $featuredimage -}}, {{.}} 1100w{{- end -}}" alt="About Outsourced Sales Manager">
          {{end}}
        </div><!--end col-->
      </div><!--end grid-->
    </div><!--end container-->
  </section>



  <section class="bg-white">
    <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:py-24">
      <div class="flex flex-wrap items-center mx-auto max-w-7xl">
        <div class="w-full lg:max-w-lg lg:w-1/2 rounded-xl">
          <div>
            <div class="relative w-full max-w-lg">
              <div
                class="absolute top-0 rounded-full bg-violet-300 -left-4 w-72 h-72 mix-blend-multiply filter blur-xl opacity-70 animate-blob">
              </div>

              <div
                class="absolute rounded-full bg-fuchsia-300 -bottom-24 right-20 w-72 h-72 mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000">
              </div>
              <div class="relative">

                {{ with resources.Get "images/outsourced-sales.jpg" }}
                {{ $small := (.Resize "550x webp q100").RelPermalink }}
                {{ $medium := (.Resize "900x webp q100").RelPermalink }}
                {{ $large := (.Resize "1500x webp q100").RelPermalink }}
                {{ $together := (.Resize "1500x webp q100").RelPermalink }}
                <img class="object-cover object-center mx-auto rounded-lg shadow-2xl" alt="hero" src="{{$together}}">
                {{ end }}

              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-start mt-12 mb-16 text-left text-lg lg:flex-grow lg:w-1/2 lg:pl-6 xl:pl-24 md:mb-0 xl:mt-0">
          <h2 class="mb-8 xs:text-2xl md:text-3xl lg:text-4xl font-medium leading-none text-neutral-600">
            The UK's Leading Sales Outsourcing Company.</h2>
          <p class="mb-8 leading-relaxed text-left">
            Unlike digital marketing agencies you’ll come across, we’re not creating one size fits all packages. We
            don’t promote simply posting a few times a week on social media with the hope that more clients will know
            more about your company.</p>
          <p class="mb-8 leading-relaxed text-left">
            Why? Because Outsourced Sales was set up with a results driven approach in mind. What works for one company
            may not work for another. We therefore use a holistic approach to decide what key areas we will focus on to
            get you the best results with the least amount of budget. We get to know your business, understand your
            audience and we determine what it truly takes to drive your sales.
          </p>
          <p class="mb-8 leading-relaxed text-left">
            How do we decide where to focus? We use data. Data drives what approach we should take. We can make smart
            decisions because it’s all backed by data and expert insights. This is what allows us to guarantee your
            results.
          </p>
        </div>
        <div class="sm:w-6/12">
          {{ $logoimage := (resources.Get "images/logo/outsourced-sales-logo-full.png").RelPermalink }}
          <img class="pt-10" src="{{ $logoimage }}" alt="Outsourced Sales logo">
        </div>

      </div>
    </div>
  </section>

  {{ partial "book-section.html" . }}

  {{ partial "dashboard-section.html" . }}

  {{ partial "watch-masterclass.html" . }}

</main>
{{ end }}