{{ define "main" }}

<section>
    <!-- Hero -->
    <div class="relative overflow-hidden bg-gradient-to-tr from-rose-50 via-orange-50 to-emerald-50">
        <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
            <div class="mt-5 max-w-2xl text-center mx-auto">
                <h1 class="block font-bold text-gray-800 text-3xl md:text-4xl lg:text-5xl">
                    Smash Your <span
                        class="bg-clip-text bg-gradient-to-tr from-yellow-400 to-amber-500 text-transparent">Sales
                        Targets</span>
                    <br> With Our Lead Generation
                </h1>
            </div>
            <!-- End Title -->

            <div class="mt-5 max-w-3xl text-center mx-auto">
                <p class="text-xl text-gray-600">Outsourcing lead generation is <span class="font-bold">46%</span> more
                    efficient than generating them in-house. 63% of marketers state that generating traffic and leads is
                    their biggest challenge.</p>
            </div>

            <!-- Buttons -->
            <div class="mt-8 gap-3 flex justify-center">
                <a class="inline-flex justify-center items-center gap-x-3 text-center bg-gradient-to-tl from-yellow-400 to-amber-500 hover:from-amber-500 hover:to-yellow-400 border border-transparent text-white text-sm font-medium rounded-md focus:outline-none focus:ring-1 focus:ring-gray-600 py-3 px-4"
                    href="/book-consultation/">
                    Get started
                    <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="m9 18 6-6-6-6" />
                    </svg>
                </a>
            </div>
            <!-- End Buttons -->
        </div>
    </div>
    <!-- End Hero -->
</section>

<section class="bg-white">
    <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:py-24">
        <div class="flex flex-wrap items-center mx-auto max-w-7xl">
            <div class="w-full lg:max-w-lg lg:w-1/2 rounded-xl">
                <div class="aspect-w-16 aspect-video md:aspect-square">
                    <iframe class="w-full aaspect-video md:aspect-square"
                        src="https://www.youtube.com/embed/Xia-SZG-z4Y?si=veQwSIaP3xMOUmpC"
                        title="Ways To Generate Business Leads" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen autoplay>
                    </iframe>
                </div>
            </div>
            <div
                class="flex flex-col items-start mt-12 mb-16 text-left text-lg lg:flex-grow lg:w-1/2 lg:pl-6 xl:pl-24 md:mb-0 xl:mt-0">
                <h2 class="mb-8 xs:text-2xl md:text-3xl lg:text-4xl font-medium leading-none text-neutral-600">
                    We'll Deliver Piping Hot, Qualified Leads To Your Business
                </h2>
                <p class="mb-8 leading-relaxed text-left">
                    At Outsourced Sales, our expert team seamlessly integrates with yours to streamline your sales
                    process.
                    <br><br>
                    We excel in a variety of tasks to ensure a steady flow of premium leads.
                    <br><br>
                    Following lead generation, our adept appointment setters will introduce you to key decision-makers
                    and potential clients, arranging strategic calls on your behalf.
                    <br><br>
                    This enables your sales team to concentrate on their core strengths: nurturing relationships and
                    sealing deals.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="flex lg:flex-grow justify-center mx-auto py-8 px-4">
        <div class="max-w-5xl">
            <h1 class="text-2xl md:text-4xl text-center font-semibold mb-4">B2B Lead Generation Made Easy</h1>
            <p class="text-lg text-center text-gray-600 mb-8">
                At Outsourced Sales, our seasoned professionals implement a results-driven lead generation strategy
                customized to suit your business needs. With a proven track record of elevating conversion rates and
                consistently exceeding client expectations, we're committed to delivering outstanding results for you.
            </p>

            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-8 justify-center max-w-max md:max-w-5xl mx-auto">
                <!-- Card 1 -->
                <div class="bg-neutral text-center rounded-xl shadow-lg p-6 w-64">
                    <h2 class="text-xl font-semibold mb-2">Planning
                    </h2>
                    <p class="text-gray-700">After our call, we’ll identify key decision-makers and create your tailored
                        strategy.</p>
                    <!-- <p class="my-4 font-medium">15-30mins</p> -->
                </div>
                <!-- Card 2 -->
                <div class="bg-neutral text-center rounded-xl shadow-lg p-6  w-64">
                    <h2 class="text-xl font-semibold mb-2">Implementation
                    </h2>
                    <p class="text-gray-700">Then we’ll get to work on your campaign keeping you up to date on our
                        progress.

                    </p>
                    <!-- <p class="my-4 font-medium">7 days</p> -->
                </div>
                <!-- Card 3 -->
                <div class="bg-neutral text-center rounded-xl shadow-lg p-6 w-64">
                    <h2 class="text-xl font-semibold mb-2">Reporting
                    </h2>
                    <p class="text-gray-700">We love RESULTS! We’ll review our strategy and make tweaks to boost your
                        return on investment.
                    </p>
                    <!-- <p class="my-4 font-medium">30 mins</p> -->
                </div>
            </div>
        </div>
    </div>

</section>

<section class="bg-white">
    <div class="gap-16 items-center px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:px-6">
        <div class="font-light text-gray-500 max-w-5xl sm:text-lg dark:text-gray-400">
            <h2 class="mb-8 mt-2 md:mt-12 xs:text-2xl md:text-3xl lg:text-4xl font-medium leading-none  text-gray-800">
                Why Do I Need Lead Generation?</h2>
            <p class="mb-8 leading-relaxed text-left">
                If your business growth ambitions require a continuous influx of clients or increased product sales,
                then lead generation is your indispensable ally. It ensures your sales pipeline remains robust, keeping
                your business thriving.
                <br><br>
                Seeking assistance in filling your sales pipeline? Look no further than Outsourced Sales, renowned as
                one of London's premier lead generation agencies.
            </p>
            <h2 class="mb-8 mt-2 md:mt-12 xs:text-2xl md:text-3xl lg:text-4xl font-medium leading-none  text-gray-800">
                How Do You Generate Leads?</h2>
            <p class="mb-8 leading-relaxed text-left">
                Once again bearing in mind that every company – and every product, service or offering -is unique we go
                about generating leads in a number of different ways, with each strategy custom-tailored to suit the
                campaign at hand. Our methods include targeted and personalised cold email and/or cold calling
                campaigns, the creation and distribution of high-quality content, LinkedIn lead generation and more.
            </p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg"
                src="https://images.unsplash.com/photo-1665686306574-1ace09918530?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg"
                src="https://plus.unsplash.com/premium_photo-1661281298825-f278d17b886e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="office content 2">
        </div>
    </div>
</section>

<section class="bg-white md:py-20 py-2">
    <div class="gap-16 items-center px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:px-6">
        <div class="grid grid-cols-1 gap-4 mt-8">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                type="module"></script>

            <dotlottie-player src="https://lottie.host/d898a4a2-e8e0-4738-897a-b21de3bed82d/2TB4J8m5bB.json"
                background="transparent" speed="1" class="h-32 md:h-96" loop autoplay></dotlottie-player>
        </div>
        <div class="font-light text-gray-500 max-w-5xl sm:text-lg dark:text-gray-400">
            <h2 class="mb-8 xs:text-2xl md:text-3xl lg:text-4xl font-medium leading-none  text-gray-800">
                LinkedIn Lead Generation
            </h2>
            <p class="text-base py-6">
                If you’ve landed on this page in search of a LinkedIn lead generation agency, you’re in the right place
                by design. LinkedIn stands as a dominant force in B2B lead generation, and our expertise lies in
                harnessing its potential to the fullest.
                <br><br>
                Beyond merely executing successful email campaigns, we extend our proficiency to offer comprehensive
                support via our specialized 'LinkedIn follow-up system.' Furthermore, we provide exclusive access to
                training videos meticulously crafted to empower you in maintaining consistent follow-ups, thereby
                fostering sustained growth for your business.
                <br><br>
                As your dedicated LinkedIn lead generation agency, we are steadfast in our commitment to maximizing
                opportunities for your business and ensuring enduring development through strategic follow-up practices.
            </p>

        </div>
    </div>
</section>

{{ partial "cta.html" .}}

<section class="bg-white">
    <div class="gap-16 items-center px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:px-6">
        <div class="font-light text-gray-500 max-w-5xl sm:text-lg dark:text-gray-400">
            <h2 class="mb-8 mt-2 md:mt-12 xs:text-2xl md:text-3xl lg:text-4xl font-medium leading-none  text-gray-800">
                Cold Email Campaigns With Outsourced Sales

            </h2>
            <p class="mb-8 leading-relaxed text-left">
                Entrusting your cold email campaigns to Outsourced Sales means partnering with a premier B2B lead
                generation agency boasting an in-house team of seasoned digital copywriters. We guarantee that your
                emails will captivate recipients, personalized to resonate with them, and optimized for seamless viewing
                across digital devices.
                <br><br>
                Understanding the pitfalls to sidestep in cold email outreach, we've meticulously crafted a system to
                optimize the returns from our cold email services. Rest assured, your campaigns are in expert hands with
                Outsourced Sales.
            </p>
            <h2 class="mb-8 mt-2 md:mt-12 xs:text-2xl md:text-3xl lg:text-4xl font-medium leading-none  text-gray-800">
                Cold Calling Services</h2>
            <p class="mb-8 leading-relaxed text-left">
                If you've found your way here through a search for 'B2B lead generation LinkedIn,' you're in good
                company. LinkedIn stands as one of the most potent platforms for sourcing B2B leads.
                <br><br>
                After executing an email campaign, our next step is to assist you in nurturing and following up with
                these prospects through our specialized 'LinkedIn follow-up system.'
                <br><br>
                Moreover, you'll gain exclusive access to our follow-up training videos, designed to equip you with the
                skills needed for delivering consistent follow-ups, ensuring the enduring growth of your business. With
                Outsourced Sales, your cold calling efforts are set for success.
            </p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg"
                src="https://images.unsplash.com/photo-1598257006463-7c64a5a538cc?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg"
                src="https://plus.unsplash.com/premium_photo-1664303456349-571aeb1e8260?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="office content 2">
        </div>
    </div>
</section>

<section>
    <div class="flex justify-center items-center mt-12">
        <div class="w-full md:w-1/2 justify-center max-w-2xl">
            <div class="flex justify-center">
                <div class="w-full">
                    <h2
                        class="mb-12 mt-2 md:mt-12 xs:text-2xl text-center md:text-3xl lg:text-4xl font-medium leading-none  text-gray-800">
                        How Outsourced Sales Lead Generation Works</h2>
                </div>
            </div>
            <div class="flex flex-col md:flex-row justify-center items-center mb-8">
                <div class="w-1/4 mb-4 md:mb-0">
                    {{ with resources.Get "/images/lead-gen/data.png" }}
                    {{ $together := .RelPermalink }}
                    <img src="{{$together}}" class="w-auto" alt="Expert Development Team">
                    {{ end }}
                </div>
                <div class="w-3/4">
                    <h4 class="text-xl md:text-2xl font-poppins font-semibold">B2B Marketing Database: Quality Data
                        Drives Success
                    </h4>
                    <p>At Outsourced Sales, we believe in the power of accurate data. With our award-winning B2B data
                        boasting a minimum accuracy of 98%, your telesales and appointment setting campaigns stand on a
                        solid foundation. Whether you need data cleansing or customized datasets, we’ve got you covered.
                    </p>
                </div>
            </div>

            <div class="flex flex-col md:flex-row justify-center items-center mb-8">
                <div class="w-1/4 mb-4 md:mb-0">
                    {{ with resources.Get "/images/lead-gen/profiles.png" }}
                    {{ $together := .RelPermalink }}
                    <img src="{{$together}}" class="w-auto" alt="7-Day Rapid Delivery">
                    {{ end }}
                </div>
                <div class="w-3/4">
                    <h4 class="text-xl md:text-2xl font-poppins font-semibold">Identifying The Need: Profiling for
                        Solutions

                    </h4>
                    <p>Before our outbound B2B telemarketers dial a number, we delve into understanding your customers'
                        pain points. By profiling your targeted decision-makers or key influencers, we pinpoint how your
                        business, products, or services can provide solutions.



                    </p>
                </div>
            </div>

            <div class="flex flex-col md:flex-row justify-center items-center mb-8">
                <div class="w-1/4 mb-4 md:mb-0">
                    {{ with resources.Get "/images/lead-gen/conversation.png" }}
                    {{ $together := .RelPermalink }}
                    <img src="{{$together}}" class="w-auto" alt="Custom UI/UX Design Services">
                    {{ end }}
                </div>
                <div class="w-3/4">
                    <h4 class="text-xl md:text-2xl font-poppins font-semibold">Preparing The Pitch: Natural
                        Conversations, Real Results

                    </h4>
                    <p>As a forward-thinking lead generation and telemarketing company, we ditch the scripts for
                        natural, engaging conversations. Our telemarketers are knowledgeable, engaging in intelligent
                        dialogues with each connection.

                    </p>
                </div>
            </div>

            <div class="flex flex-col md:flex-row justify-center items-center mb-8">
                <div class="w-1/4 mb-4 md:mb-0">
                    {{ with resources.Get "/images/lead-gen/lead-magnet.png" }}
                    {{ $together := .RelPermalink }}
                    <img src="{{$together}}" class="w-auto" alt="Complimentary On-Page SEO">
                    {{ end }}
                </div>
                <div class="w-3/4">
                    <h4 class="text-xl md:text-2xl font-poppins font-semibold">Agreeing Criteria: Tailored Lead
                        Generation

                    </h4>
                    <p>Prior to the campaign, we collaborate with you to define the ‘Lead Qualification Criteria’. This
                        ensures we generate sales leads & appointments that precisely meet your requirements, without
                        any unnecessary costs.
                    </p>
                </div>
            </div>

            <div class="flex flex-col md:flex-row justify-center items-center mb-8">
                <div class="w-1/4 mb-4 md:mb-0">
                    {{ with resources.Get "/images/lead-gen/monitoring.png" }}
                    {{ $together := .RelPermalink }}
                    <img src="{{$together}}" class="w-auto" alt="Free 1-Year Hosting">
                    {{ end }}
                </div>
                <div class="w-3/4">
                    <h4 class="text-xl md:text-2xl font-poppins font-semibold">Pick Up The Phone: Monitoring
                        Performance, Ensuring Quality
                    </h4>
                    <p>Our commitment extends beyond calls. We continuously monitor performance, promptly addressing any
                        issues. With transparent communication and comprehensive reports, we maintain high-quality
                        standards throughout your campaign.



                    </p>
                </div>
            </div>

            <div class="flex flex-col md:flex-row justify-center items-center mb-8">
                <div class="w-1/4 mb-4 md:mb-0">
                    {{ with resources.Get "/images/lead-gen/sales.png" }}
                    {{ $together := .RelPermalink }}
                    <img src="{{$together}}" class="w-auto" alt="Sales-Boosting Technology Integration">
                    {{ end }}
                </div>
                <div class="w-3/4">
                    <h4 class="text-xl md:text-2xl font-poppins font-semibold">Increase Your Sales: Partner with
                        Outsourced Sales

                    </h4>
                    <p>Reach out to our experienced team to discover how our B2B lead generators can boost your sales as
                        your complete outsourced B2B lead generation partner. Remember, more B2B sales leads mean more
                        sales!
                    </p>
                </div>
            </div>

            <div class="flex flex-col md:flex-row justify-center items-center mb-8">
                <div class="w-1/4 mb-4 md:mb-0">
                    {{ with resources.Get "/images/appointmentsetting/appointment.png" }}
                    {{ $together := .RelPermalink }}
                    <img src="{{$together}}" class="w-auto" alt="Lightning-Fast Loading Speed">
                    {{ end }}
                </div>
                <div class="w-3/4">
                    <h4 class="text-xl md:text-2xl font-poppins font-semibold">Appointment Setting Proficiency
                    </h4>
                    <p>Convert leads into valuable appointments and meetings through strategic planning and effective
                        communication. Outsourced Sales' training equips appointment setters with the tools and
                        techniques to identify promising leads, nurture relationships, and secure appointments, ensuring
                        that your business thrives through meaningful connections with potential clients.

                    </p>
                </div>
            </div>
            <div class="flex justify-center pb-6">
                <div class="max-w-7xl mx-auto mt-4">
                    <a href="/book-consultation/"
                        class="block px-5 py-3 text-xl text-center font-medium text-white bg-amber-600 border border-amber-500 rounded-md shadow hover:bg-amber-500 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
                        <span class="font-bold">Interested?</span> Contact Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="gap-16 items-center px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:px-6">
        <div class="font-light text-gray-500 max-w-5xl sm:text-lg dark:text-gray-400">
            <h2 class="mb-8 mt-2 md:mt-12 xs:text-2xl md:text-3xl lg:text-4xl font-medium leading-none  text-gray-800">
                Leads That 100% Convert Into Paying Customers</h2>
            <p class="mb-8 leading-relaxed text-left">
                At our agency, we go beyond merely generating leads; we specialize in transforming them into paying
                customers. Our lead generation services offer a comprehensive solution, from attracting the ideal
                prospects to sealing the deal.
                <br><br>
                Our aim is to optimize your return on investment and expedite the achievement of your lead generation
                objectives. Whether you're a budding startup or a well-established brand, rest assured, we've got you
                covered.
                <br><br>
                Choose our agency to elevate your lead generation endeavors to unprecedented heights. We're passionately
                dedicated to empowering businesses like yours to thrive and expand, consistently delivering unparalleled
                service and results.
                <br><br>
                Embark on this journey today and witness a surge in qualified leads for your business.




            </p>
            <div class="max-w-7xl mx-auto mt-4">
                <a href="/book-consultation/"
                    class="block px-5 py-3 text-xl text-center font-medium text-white bg-amber-600 border border-amber-500 rounded-md shadow hover:bg-amber-500 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
                    <span class="font-bold">Interested?</span> Contact Now
                </a>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg"
                src="https://images.unsplash.com/photo-1665686306574-1ace09918530?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg"
                src="https://plus.unsplash.com/premium_photo-1661281298825-f278d17b886e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="office content 2">
        </div>
    </div>
</section>

<section class="bg-white md:py-20 py-2">
    <div class="gap-16 items-center px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:px-6">
        <div class="grid grid-cols-1 gap-4 mt-8">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/753158a0-60d7-41a3-b00e-b5a3afa024d4/EROxPOy0CT.json" background="transparent" speed="1" class="h-32 md:h-96" loop autoplay></dotlottie-player>
        </div>
        <div class="font-light text-gray-500 max-w-5xl sm:text-lg dark:text-gray-400">
            <h2 class="mb-8 xs:text-2xl md:text-3xl lg:text-4xl font-medium leading-none  text-gray-800">
                Enhance Your Leads with Our Lead Generation Services
            </h2>
            <p class="text-base py-6">Fed up with lackluster lead generation tactics that fall short of expectations?
                Your search ends here! Our cutting-edge approach to lead generation promises to deliver top-tier leads,
                aligning with your business objectives seamlessly.
                <br><br>
                Here's how we do it:

            </p>
            <ul class="space-y-2 list-disc list-outside text-base">
                <li>
                    <span class="font-medium">Pinpointing Your Target Market</span>
                </li>
                <li>
                    <span class="font-medium">Gaining Insight into Your Audience
                    </span>
                </li>
                <li>
                    <span class="font-medium">Aligning Strategies with Market Dynamics
                    </span>
                </li>
                <li>
                    <span class="font-medium">Tailoring Outreach and Messaging
                    </span>
                </li>
                <li>
                    <span class="font-medium">Active Engagement with Your Market

                    </span>
                </li>
                <li>
                    <span class="font-medium">Delivering Tangible Results

                    </span>
                </li>
                <li>
                    <span class="font-medium">Analyzing Data for Informed Decision-Making

                    </span>
                </li>
                <li>
                    <span class="font-medium">Nurturing Strong Client Relationships
                    </span>
                </li>
            </ul>

        </div>
    </div>
</section>

<!-- CTA section -->
<section class="pt-12 bg-white">
    <div class="container mx-auto">
        <div class="relative py-2 md:py-12">
            <div
                class="container mx-auto bg-gradient-to-tr from-rose-100 via-orange-100 to-emerald-100 rounded-2xl shadow-md z-0">
                <div class="row">
                    <div class="flex-col flex md:flex-row justify-between items-center">
                        <div class="mx-auto p-3 md:p-12">
                            <h3
                                class="text-2xl md:text-4xl max-w-2xl text-center md:text-left font-bold tracking-tight text-gray-900 sm:text-3xl">Effortless Client Connections, Just Right for You!
                                
                            </h3>
                            <p
                                class="max-w-2xl mb-12 py-4 mx-auto text-base md:text-xl text-center md:text-left f md:text-xl tracking-tight font-semibold text-stone-500">
                                Discover hassle-free client connections designed to fit your needs like a glove. Unmatched customer service.
                            </p>
                            <a href="/book-consultation/"
                                class="block px-5 py-3 w-64 mt-2 text-xl text-center text-white font-semibold border border-amber-500 rounded-lg focus:ring focus:ring-amber-300 bg-amber-600 hover:bg-amber-500 transition ease-in-out duration-200">
                                Book Free Consultation</a>
                        </div>
                        <div class="sm:mx-auto sm:flex sm:max-w-lg">
                            {{ with resources.Get "/images/lead-gen/cta.png" }}
                            {{ $together := .RelPermalink }}
                            <img src="{{$together}}" class="w-full z-40 overflow-vissible" alt="">
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}