{{ define "main" }}
<main>

    <!-- hero section -->
    <section class="bg-gradient-to-b from-slate-800 to-gray-700">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-12 pb-16 text-center lg:pt-12">
            <p class="mx-auto -mt-4 max-w-2xl text-lg tracking-tight text-white sm:mt-6">Welcome to
                <span class="border-b border-dotted border-slate-300">Outsourced Sales</span>
            </p>

            <h1 class="mx-auto max-w-5xl font-display text-5xl font-medium tracking-tight text-white sm:text-7xl">
                <span class="inline-block">Outsourced Lead Generation
                    <span class="relative whitespace-nowrap text-amber-300">
                        <svg aria-hidden="true" viewBox="0 0 418 42"
                            class="absolute top-2/3 left-0 h-[0.58em] w-full fill-amber-800/70"
                            preserveAspectRatio="none">
                            <path
                                d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z">
                            </path>
                        </svg>
                        <span class="relative">Telemarketing</span></span>
                </span>
                <span class="inline-block">Services</span>
            </h1>

            <p class="mx-auto mt-9 max-w-3xl text-lg tracking-tight text-white sm:mt-6">
                <span class="inline-block">The Outsourced Sales Team Is YOUR Team</span>
                <span class="inline-block">The Sales Generation Telemarketing Team You Can Trust To Build Your Business
                    And Your Brand</span>
            </p>

            <div class="mt-12 flex flex-col justify-center gap-y-5 sm:mt-10 sm:flex-row sm:gap-y-0 sm:gap-x-6">
                <a class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-amber-600 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900 animate-fade-in-left"
                    href="#">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M14 6H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1Zm7 11-6-2V9l6-2v10Z" />
                    </svg>

                    <span class="ml-3">View Video</span>
                </a>
                <div class="relative flex flex-1 flex-col items-stretch sm:flex-none" data-headlessui-state="">
                    <button
                        class="group inline-flex ring-1 items-center justify-center rounded-full py-2 px-4 text-sm focus:outline-none ring-slate-200 text-white hover:text-amber-300 hover:ring-slate-300 active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300 animate-fade-in-right"
                        id="headlessui-menu-button-:r4:" aria-haspopup="true" aria-expanded="false"
                        data-headlessui-state="" type="button">
                        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M18.427 14.768 17.2 13.542a1.733 1.733 0 0 0-2.45 0l-.613.613a1.732 1.732 0 0 1-2.45 0l-1.838-1.84a1.735 1.735 0 0 1 0-2.452l.612-.613a1.735 1.735 0 0 0 0-2.452L9.237 5.572a1.6 1.6 0 0 0-2.45 0c-3.223 3.2-1.702 6.896 1.519 10.117 3.22 3.221 6.914 4.745 10.12 1.535a1.601 1.601 0 0 0 0-2.456Z" />
                        </svg>

                        <span class="ml-3">Book Your Free Consultation Call</span>
                    </button>
                </div>
            </div>
            <div class="flex justify-center mt-8">
                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                    type="module"></script>

                <dotlottie-player src="https://lottie.host/4f0e2c3b-8b5b-44e4-842b-cf60a1b05167/ZwZT5iZrMj.json"
                    background="transparent" speed="1" style="width: 70px; height: 70px;" loop
                    autoplay></dotlottie-player>
            </div>

        </div>
    </section>

    {{ partial "our-clients.html" . }}
    <!-- hero end -->

    <section class="bg-white">
        <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:py-24">
            <div class="flex flex-wrap items-center mx-auto max-w-7xl">
                <div class="w-full lg:max-w-lg lg:w-1/2 rounded-xl">
                    <div class="relative w-full max-w-lg">
                        <div class="aspect-w-16 aspect-h-9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/MhPCP-tMjoM?si=96eJdWpFCEwU4Atm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen autoplay></iframe>
                        </div>
                    </div>
                    
                        
                </div>
                <div
                    class="flex flex-col items-start mt-12 mb-16 text-left text-lg lg:flex-grow lg:w-1/2 lg:pl-6 xl:pl-24 md:mb-0 xl:mt-0">
                    <h2 class="mb-8 xs:text-2xl md:text-3xl lg:text-4xl font-medium leading-none text-neutral-600">
                        Isn’t Telemarketing Dead?</h2>
                    <p class="mb-8 leading-relaxed text-left">
                        Telemarketing is perhaps one of the oldest forms of modern B2B marketing and lead generation.
                        And some people who happily tell you it’s a dead form of modern marketing. That it should be
                        replaced by social media marketing or more email marketing. <br><br>
                        Both of those forms of marketing can be excellent, although harder for B2B than B2C, but
                        telemarketing still has a large role to play in modern digital marketing, as long as it’s done
                        right <br><br>
                        Outsourced Sales has perfected the art of building modern, effective telemarketing teams and can
                        offer outsourced telemarketing services that WORK, even in the social media age.

                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray-100">
        <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:py-6">
            <div class="flex flex-wrap items-center mx-auto max-w-7xl">
                <div
                    class="flex flex-col items-start justify-between mt-12 mb-16 text-left text-lg lg:flex-grow lg:w-1/2 lg:pl-6 xl:pl-24 md:mb-0 xl:mt-0">
                    <h2 class="mb-8 xs:text-2xl md:text-3xl lg:text-4xl font-medium leading-none text-neutral-600">
                        Why Does Outsourced Telemarketing Get A Bad Rap?</h2>
                    <p class="mb-8 leading-relaxed text-left">
                        Google outsourced telemarketing, and we’re not going to deny it, you’ll be served up a lot of
                        negative information. Over the years, telemarketing agencies in general has gained a bad rap,
                        and outsourced lead generation telemarketing certainly has. <br> <br>
                        So why consider outsourcing your sales calls to a telemarketing team if it’s such a bad idea?
                        Because ethical, less intrusive telemarketing, especially B2B telemarketing, undertaken by a
                        trained and dedicated team works. But it’s that last part that got lost over the last few years.
                        <br><br>

                    </p>
                </div>
                <div class="w-full lg:max-w-lg lg:w-1/2 rounded-xl">

                    <div>
                        <div class="relative w-full max-w-lg">
                            <div class="relative">

                                {{ with resources.Get "images/telemarketing/thumb-down.png" }}
                                {{ $small := (.Resize "550x webp q100").RelPermalink }}
                                {{ $medium := (.Resize "900x webp q100").RelPermalink }}
                                {{ $large := (.Resize "1500x webp q100").RelPermalink }}
                                {{ $together := (.Resize "1500x webp q100").RelPermalink }}
                                <img class="object-cover object-center mx-auto" alt="hero" src="{{$together}}">
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="bg-white">
        <div class="gap-16 items-center px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:px-6">
            <div class="font-light text-gray-500 max-w-5xl sm:text-lg dark:text-gray-400">
                <p class="mb-8 mt-8 leading-relaxed text-left">
                    VOIP and Internet calling made it easy for anyone to offer telemarketing services from anywhere in
                    the world to almost any business. With no training, no marketing expertise, no willingness to
                    research what their clients were selling, or what their brand stood for. The results, as expected,
                    were often bad.
                    <br> <br>
                    These cowboy telemarketers gave a bad name to the outsourced lead generation telemarketing industry
                    as a whole. At Pearl Lemon Leads, we’re on a mission to claim its good name back. While helping you
                    and your business get more leads and close more sales of course.<br><br>

                </p>
            </div>
            <div class="grid grid-cols-2 gap-4 mt-8">
                <img class="w-full rounded-lg"
                    src="https://images.unsplash.com/photo-1702669010463-3f2088abc0e9?q=80&w=1526&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="office content 1">
                <img class="mt-4 w-full lg:mt-10 rounded-lg"
                    src="https://plus.unsplash.com/premium_photo-1661484676444-0ea913f6a630?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="office content 2">
            </div>
        </div>

        {{ partial "cta.html" . }}
    </section>

    <section class="relative md:pb-24 pb-16 pt-6">
        <div class="container mx-auto">
            <div class="flex justify-center">
                <div class="max-w-5xl mt-12">
                    <h2
                        class="mt-12 mb-16 max-w-5xl mx-auto text-center text-2xl font-semibold tracking-tight text-gray-900 capitalize dark:text-gray-50 sm:text-4xl">
                        How Outsourced Sales is making Telemarketing Cool Again
                    </h2>
                    <p class="mb-8 leading-relaxed max-w-8xl text-center">
                        There’s a lot more to effective outsourced telemarketing services than just picking up the phone
                        and reading from a script. To be effective before a single call is ever made any telemarketing
                        business needs to:
                    </p>
                </div>
            </div>
            <div class="flex justify-center items-center mt-6">
                <div class="w-full md:w-1/2 justify-center">
                    <div class="flex flex-col md:flex-row justify-center items-center">
                        <div class="w-1/4 mb-4 md:mb-0">
                            {{ with resources.Get "images/telemarketing/icons/onboarding.png" }}
                            {{ $together := .RelPermalink }}
                            <div class="w-1/4 mb-4 md:mb-0">
                                <img src="{{$together}}" class="w-auto" alt="asdasd">
                            </div>
                            {{ end }}
                        </div>
                        <div class="w-3/4">
                            <h4 class="text-2xl font-poppins font-bold">Onboarding: Understanding Your Business</h4>
                            <p>Our proven process ensures a thorough understanding of your business, covering pitch
                                outlines, potential objections, strategies to overcome objections, and essential
                                open-ended questions.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-center items-center mt-6">
                <div class="w-full md:w-1/2 justify-center">
                    <div class="flex flex-col md:flex-row justify-center items-center">
                        <div class="w-1/4 mb-4 md:mb-0">
                            {{ with resources.Get "images/telemarketing/icons/leads.png" }}
                            {{ $together := .RelPermalink }}
                            <div class="w-1/4 mb-4 md:mb-0">
                                <img src="{{$together}}" class="w-auto" alt="asdasd">
                            </div>
                            {{ end }}
                        </div>
                        <div class="w-3/4">
                            <h4 class="text-2xl font-poppins font-bold">Lead Qualification Criteria: Identifying Ideal
                                Leads</h4>
                            <p>Collaborating with your team, we define your ideal lead using the BANT system: Budget,
                                Authority, Need, & Timescales.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-center items-center mt-12">
                <div class="w-full md:w-1/2 justify-center">
                    <div class="flex flex-col md:flex-row justify-center items-center">
                        <div class="w-1/4 mb-4 md:mb-0">
                            {{ with resources.Get "images/telemarketing/icons/appointment.png" }}
                            {{ $together := .RelPermalink }}
                            <div class="w-1/4 mb-4 md:mb-0">
                                <img src="{{$together}}" class="w-auto" alt="asdasd">
                            </div>
                            {{ end }}
                        </div>
                        <div class="w-3/4">
                            <h4 class="text-2xl font-poppins font-bold">Diary Management: Efficient Appointment Setting
                            </h4>
                            <p>We offer comprehensive diary management, sending prospects diary invites and monitoring
                                acceptances to manage your sales team's appointments effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center mt-12">
                <div class="w-full md:w-1/2 justify-center">
                    <div class="flex flex-col md:flex-row justify-center items-center">
                        <div class="w-1/4 mb-4 md:mb-0">
                            {{ with resources.Get "images/telemarketing/icons/crm.png" }}
                            {{ $together := .RelPermalink }}
                            <div class="w-1/4 mb-4 md:mb-0">
                                <img src="{{$together}}" class="w-auto" alt="asdasd">
                            </div>
                            {{ end }}
                        </div>
                        <div class="w-3/4">
                            <h4 class="text-2xl font-poppins font-bold">CRM Integration: Seamless Campaign Management
                            </h4>
                            <p>Whether utilizing your CRM platform or our own, including HubSpot, Salesforce, or Excel
                                spreadsheets, we ensure seamless campaign management and monitoring.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center mt-12">
                <div class="w-full md:w-1/2 justify-center">
                    <div class="flex flex-col md:flex-row justify-center items-center">
                        <div class="w-1/4 mb-4 md:mb-0">
                            {{ with resources.Get "images/telemarketing/icons/techniques.png" }}
                            {{ $together := .RelPermalink }}
                            <div class="w-1/4 mb-4 md:mb-0">
                                <img src="{{$together}}" class="w-auto" alt="asdasd">
                            </div>
                            {{ end }}
                        </div>
                        <div class="w-3/4">
                            <h4 class="text-2xl font-poppins font-bold">Incorporating Advanced Techniques</h4>
                            <p>Our friendly telemarketers utilize advanced techniques such as Neuro-Linguistic
                                Programming (NLP), open dialogue, and strategic questioning to do more than just prime
                                your prospective clients. They actively unlock sales opportunities that convert into
                                high-value contracts for your business.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center mt-12">
                <div class="w-full md:w-1/2 justify-center">
                    <div class="flex flex-col md:flex-row justify-center items-center">
                        <div class="w-1/4 mb-4 md:mb-0">
                            {{ with resources.Get "images/telemarketing/icons/reporting.png" }}
                            {{ $together := .RelPermalink }}
                            <div class="w-1/4 mb-4 md:mb-0">
                                <img src="{{$together}}" class="w-auto" alt="asdasd">
                            </div>
                            {{ end }}
                        </div>
                        <div class="w-3/4">
                            <h4 class="text-2xl font-poppins font-bold">Reporting: Transparent Insights</h4>
                            <p>We maintain complete transparency in reporting, offering detailed statistics (number of
                                calls, contacts) and narrative feedback (market insights, objections, issues, reasons
                                for rejections).</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center mt-12">
                <div class="w-full md:w-1/2 justify-center">
                    <div class="flex flex-col md:flex-row justify-center items-center">
                        <div class="w-1/4 mb-4 md:mb-0">
                            {{ with resources.Get "images/telemarketing/icons/repeat.png" }}
                            {{ $together := .RelPermalink }}
                            <div class="w-1/4 mb-4 md:mb-0">
                                <img src="{{$together}}" class="w-auto" alt="repeat">
                            </div>
                            {{ end }}
                        </div>
                        <div class="w-3/4">
                            <h4 class="text-2xl font-poppins font-bold">Repeat: Continuous Success </h4>
                            <p>Effective sales leads lead to quick business growth. Continue your campaign with our B2B
                                telemarketing services to maximize your ROI consistently.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="max-w-4xl mx-auto mt-16">
                <p class="text-base text-center">This is a big list. It takes a very skilled outsourced telemarketing
                    team to execute it successfully. We’ve built those teams at <span
                        class="font-bold text-neutral-600"> Outsourced Sales</span>.
                </p>
            </div>
            <div class="flex justify-center">
                <div class="max-w-7xl mx-auto mt-4">
                    <a href="/contact"
                        class="block px-5 py-3 text-xl text-center font-medium text-white bg-amber-600 border border-amber-500 rounded-md shadow hover:bg-amber-500 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-amber-500 sm:px-10">
                        <span class="font-bold">Interested?</span> Contact Now
                    </a>
                </div>
            </div>

        </div>
    </section>

    <section class="bg-white">
        <div class="relative mx-auto container">
            <div class="max-w-5xl mt-12 mx-auto">
                <h2
                    class="pt-12 mb-16 max-w-5xl mx-auto text-center text-3xl font-semibold tracking-tight text-gray-900 capitalize dark:text-gray-50">
                    Why choose to work with Outsourced Sales and outsource your sale generation telemarketing? Here are
                    (just) five of the best reasons.
                </h2>
            </div>
        </div>
        <div class="relative mx-auto max-w-5xl pb-16 z-10 grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-2">

            <div class="rounded-md bg-white border border-neutral-800 bg-neutral-900/50 p-8 text-center shadow">
                <div class="button-text mx-auto flex h-12 w-12 items-center justify-center rounded-md border">
                    {{ with resources.Get "images/telemarketing/icons/growth.png" }}
                    {{ $together := .RelPermalink }}
                    <img src="{{$together}}" class="w-auto" alt="">
                    {{ end }}

                </div>
                <h3 class="mt-6 text-gray-800 text-2xl">Outsourced Telemarketing Is Cost-Saving And Cost-Effective</h3>
                <p class="my-4 mb-0 font-normal leading-relaxed tracking-wide text-gray-900">As you can tailor make your
                    lead generation telemarketing campaign with Pearl Lemon Leads you can engage them for as long – or
                    for as little time – as you need, depending on your current marketing campaigns and goals. All with
                    no in office overheads and no employee expenses. Working with reliable and experienced outsourced
                    telemarketing company, delivers faster positive results, and lots of leads at a fraction of the cost
                    of paying in house employees.</p>
            </div>

            <div class="rounded-md bg-white border border-neutral-800 bg-neutral-900/50 p-8 text-center shadow">
                <div class="button-text mx-auto flex h-12 w-12 items-center justify-center rounded-md border">
                    {{ with resources.Get "images/telemarketing/icons/experience.png" }}
                    {{ $together := .RelPermalink }}
                    <img src="{{$together}}" class="w-auto" alt="">
                    {{ end }}
                </div>
                <h3 class="mt-6 text-gray-800 text-2xl">Experience
                </h3>
                <p class="my-4 mb-0 font-normal leading-relaxed tracking-wide text-gray-900">Whoever makes your
                    telemarketing calls needs to be experienced, informed and dedicated to showcasing your products and
                    services as well as your brand in the best possible light. That’s hard to find in either in-house
                    employees or cut-price call center services. The Pearl Lemon Leads telemarketing team are dedicated
                    to all the above and to delivering the kind of big-time results that impress.</p>
            </div>

            <div class="rounded-md bg-white border border-neutral-800 bg-neutral-900/50 p-8 text-center shadow">
                <div class="button-text mx-auto flex h-12 w-12 items-center justify-center rounded-md border">
                    {{ with resources.Get "images/telemarketing/icons/insights.png" }}
                    {{ $together := .RelPermalink }}
                    <img src="{{$together}}" class="w-auto" alt="">
                    {{ end }}
                </div>
                <h3 class="mt-6 text-gray-800 text-2xl">Gain Valuable Data Insights</h3>
                <p class="my-4 mb-0 font-normal leading-relaxed tracking-wide text-gray-900">Every lead generation
                    telemarketing call can provide your business with an opportunity to learn more about the market you
                    are trying to reach and its reactions to your offerings.
                    <br><br>
                    Your telemarketing campaign can even include market research questions as part of the process,
                    helping you accomplish several objectives in one go, a value added plus.
                </p>
            </div>

            <div class="rounded-md bg-white border border-neutral-800 bg-neutral-900/50 p-8 text-center shadow">
                <div class="button-text mx-auto flex h-12 w-12 items-center justify-center rounded-md border">
                    {{ with resources.Get "images/telemarketing/icons/lead-loss.png" }}
                    {{ $together := .RelPermalink }}
                    <img src="{{$together}}" class="w-auto" alt="">
                    {{ end }}
                </div>
                <h3 class="mt-6 text-gray-800 text-2xl">Prevent Inbound Marketing Lead Loss
                </h3>
                <p class="my-4 mb-0 font-normal leading-relaxed tracking-wide text-gray-900">Many companies do a lot of
                    inbound marketing these days. By that we mean that they blog, that they appear on – or host –
                    podcasts, they offer webinars and more. Inbound marketing has become quite the thing in the past
                    five years, and more and more businesses large and small are trying it out.
                    <br><br>
                    Where inbound marketing can fall flat however is when there is no time – or no clear plan- to make
                    use of the phone numbers and emails inbound marketing is specifically designed to collect. All too
                    often they end up on a list and well, that’s about as far as it goes.
                </p>
            </div>

            <div class="rounded-md bg-white border border-neutral-800 bg-neutral-900/50 p-8 text-center shadow">
                <div class="button-text mx-auto flex h-12 w-12 items-center justify-center rounded-md border">
                    {{ with resources.Get "images/telemarketing/icons/roi.png" }}
                    {{ $together := .RelPermalink }}
                    <img src="{{$together}}" class="w-auto" alt="">
                    {{ end }}
                </div>
                <h3 class="mt-6 text-gray-800 text-2xl">Maximize Your ROI
                </h3>
                <p class="my-4 mb-0 font-normal leading-relaxed tracking-wide text-gray-900">Your accountant always
                    tells you, whatever you invest in for your business needs to offer maximum ROI. Outsourced lead
                    generation telemarketing from Pearl Lemon Leads will do just that. No employee overheads, no
                    expensive ad campaign set up, no time-consuming delays in getting your project underway. When it
                    comes to telemarketing companies in the UK Pearl Lemon Leads is one of the best choices you can
                    make, even if you are not in the UK yourself!
                </p>
            </div>
        </div>

        {{ partial "cta.html" . }}

    </section>



    <section class="text-dark py-32 min-h-screen">
        <div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
            <h2 class="mb-12 text-4xl font-bold text-center sm:text-5xl">Frequently Asked Questions</h2>
            <div class="mx-auto divide-y max-w-6xl sm:px-8 lg:px-12 xl:px-32 divide-gray-700">
                <details>
                    <summary class="mx-auto py-2 outline-none cursor-pointer focus:underline focus:font-bold">What are
                        the advantages of
                        telemarketing services?</summary>
                    <div class="px-4 pb-4">
                        <p>Advantages of using telemarketing services include having specialists in telesales to help
                            your sales efforts and you are able to focus on other aspects of business growth and closing
                            deals while someone else nurtures leads. This saves you time and energy to spend where you
                            need it most.
                            <br><br>
                            Few companies rely solely on B2B telemarketing in the 21st century. Instead, they make use
                            of it as a part of a larger digital sales and marketing plan. This is something we can
                            discuss, whether it would mean our services fitting into your existing marketing or the
                            creation of a new marketing campaign as a whole.
                        </p>
                    </div>
                </details>
                <details>
                    <summary class="py-2 outline-none cursor-pointer focus:underline focus:font-bold">What are B2B
                        Telemarketing
                        services?</summary>
                    <div class="px-4 pb-4">
                        <p>B2B telemarketing services are call services aimed at brining in leads for your B2B company.
                            Callers focus on other businesses that would like your product or service. This means when
                            targeting is done, it focusses on key decision makers within a business rather than
                            individual customers. <br><br>
                            Few companies rely solely on B2B telemarketing in the 21st century. Instead, they make use
                            of it as a part of a larger digital sales and marketing plan. This is something we can
                            discuss, whether it would mean our services fitting into your existing marketing or the
                            creation of a new marketing campaign as a whole.
                        </p>
                    </div>
                </details>
                <details>
                    <summary class="py-2 outline-none cursor-pointer focus:underline focus:font-bold">What do telesales
                        agencies do?
                    </summary>
                    <div class="px-4 pb-4">
                        <p>
                            A Telesales Agency has the aim of making calls for your company. Teams of callers are
                            trained to make effective calls on behalf of another company to help bring in leads through
                            cold calling. Telesales agencies study your company and product, your ideal customers and
                            what the most effective sales pitch will be in order to be the most effective
                            <br><br>
                            Few companies rely solely on B2B telemarketing in the 21st century. Instead, they make use
                            of it as a part of a larger digital sales and marketing plan. This is something we can
                            discuss, whether it would mean our services fitting into your existing marketing or the
                            creation of a new marketing campaign as a whole.
                        </p>
                    </div>
                </details>
                <details>
                    <summary class="py-2 outline-none cursor-pointer focus:underline focus:font-bold">What businesses
                        use telesales
                        services?</summary>
                    <div class="px-4 pb-4">
                        <p>Businesses that use telesales services are within any industry and niche. Oftentimes, these
                            businesses need leads brought in and would like to spend their time focusing their own
                            efforts on closing deals and other aspects of business growth. This means using telesales
                            services saves you as a business owner time to take part in other marketing and growth
                            activities. <br><br>
                            Few companies rely solely on B2B telemarketing in the 21st century. Instead, they make use
                            of it as a part of a larger digital sales and marketing plan. This is something we can
                            discuss, whether it would mean our services fitting into your existing marketing or the
                            creation of a new marketing campaign as a whole.
                        </p>
                    </div>
                </details>
                <details>
                    <summary class="py-2 outline-none cursor-pointer focus:underline focus:font-bold">How long do your
                        telemarketing
                        campaigns last?</summary>
                    <div class="px-4 pb-4">
                        <p>
                            As long as you need them to. The flexible nature of the Pearl Lemon Sales’ telemarketing
                            offerings mean you can engage a team for a single campaign – to help launch a new service
                            offering perhaps – or maintain one for ongoing lead generation purposes. Speak to a Peal
                            Lemon telemarketing advisor to discuss the kind of campaign you are considering and let them
                            explain how we can help.

                        </p>
                    </div>
                </details>
                <details>
                    <summary class="py-2 outline-none cursor-pointer focus:underline focus:font-bold">My company has a
                        small sales team,
                        but they don't have time to make calls. Can your telemarketing team work with them?</summary>
                    <div class="px-4 pb-4">
                        <p>Sure, it’s one of the things we do best. Our team can do all the heavy legwork when it comes
                            to warming up prospects and appointment setting and then happily step back and let your
                            sales team make the big close.</p>
                    </div>
                </details>
                <details>
                    <summary class="py-2 outline-none cursor-pointer focus:underline focus:font-bold">Is it true that it
                        can take up to
                        80 telemarketing phone calls to score a single sale?</summary>
                    <div class="px-4 pb-4">
                        We’ve seen the reports that state that too. And, in some cases, it may be true. In others, far
                        from it. And the same is also true across marketing in general. The ‘impulse’ B2B buyer, for
                        example, is a rare creature. They exist, but they are in the minority. Most people need time to
                        think, to process the information they’ve been given and then make a buying decision. <br><br>
                        What we do know is that according to extensive research conducted with decision makers on
                        LinkedIn 68% of B2B sales were found to involve some form of human interaction, and one of the
                        primary ways that interaction occurred was via a telemarketing phone call. <br><br>
                        What’s more B2B telesales calls at work were voted as the least annoying form of advertising.
                        Only 4% of the business decision makers polled said it was the most annoying form, while eight
                        other options were all voted more annoying. <br><br>

                    </div>
                </details>
            </div>
        </div>
    </section>

    {{ partial "dashboard-section.html" . }}

    {{ partial "subscribe-form.html" . }}
</main>
{{ end }}