<section class="overflow-hidden bg-slate-200 lg:bg-transparent lg:px-5 border-y">
    <div
        class="mx-auto grid max-w-6xl grid-cols-1 grid-rows-[auto_1fr] gap-y-16 pt-16 md:pt-20 lg:grid-cols-12 lg:gap-y-20 lg:px-3 lg:pb-36 lg:pt-20 xl:py-32">
        <div class="relative flex items-end lg:col-span-5 lg:row-span-2">
            <div
                class="absolute -bottom-12 -top-20 left-0 right-1/2 z-10 rounded-br-6xl bg-blue-600 text-white/10 md:bottom-8 lg:-inset-y-32 lg:left-[-100vw] lg:right-full lg:-mr-40">
                <svg aria-hidden="true" class="absolute inset-0 h-full w-full">
                    <defs>
                        <pattern id=":S2:" width="128" height="128" patternUnits="userSpaceOnUse" x="100%" y="100%"
                            patternTransform="translate(112 64)">
                            <path d="M0 128V.5H128" fill="none" stroke="currentColor"></path>
                        </pattern>
                    </defs>
                    <rect width="100%" height="100%" fill="url(#:S2:)"></rect>
                </svg>
            </div>
            {{ with resources.GetMatch "images/landing/branding-for-profit-book.png" }}
            {{ $small := (.Resize "400x webp q80").RelPermalink }}
            {{ $medium := (.Resize "550x webp q80").RelPermalink }}
            {{ $large := (.Resize "900x webp q80").RelPermalink }}
            {{ $featuredimage := (.Resize "1500x webp q80").RelPermalink }}
            <div class="relative z-10 mx-auto flex w-64 md:w-80 lg:w-auto">
                <img alt="" fetchpriority="high" decoding="async" class="w-full" style="color:transparent"
                    src="{{ $featuredimage }}" srcset="
                    {{- with $small -}}, {{.}} 400w{{- end -}}
                    {{- with $medium -}}, {{.}} 550w{{- end -}}
                    {{- with $large -}}, {{.}} 768w{{- end -}}
                    {{- with $featuredimage -}}, {{.}} 1100w{{- end -}}">
            </div>
            {{ end }}
        </div>
        <div class="relative px-4 sm:px-6 lg:col-span-7 lg:pb-14 lg:pl-16 lg:pr-0 xl:pl-20">
            <h2 class="xs:mt-2 md:mt-0 xs:text-2xl md:text-3xl lg:text-4xl font-medium leading-none text-neutral-600">
                We Create Awesome Brands</h2>
            <p class="mt-4 xs:text-xl md:text-2xl text-slate-600">Creating a strong brand is the most effective way to
                attract
                customers and make more sales. We even wrote a book to show you how.</p>
            <div class="mt-8 flex gap-4">

                <a href="https://www.brandingforprofitbook.com"
                    class="inline-flex justify-center mt-5 px-5 py-3 text-white text-xl font-semibold border border-gray-300 rounded-lg hover:border-gray-400 focus:ring focus:ring-gray-50 bg-sky-500 hover:bg-sky-600 transition ease-in-out duration-200">
                    Find out more</a>

                <a href="https://www.amazon.co.uk/Branding-Profit-Companies-Create-Extraordinary-ebook/dp/B08L3P6S7H"
                    class="inline-flex justify-center mt-5 px-5 py-3 text-white text-xl font-semibold border border-amber-500 rounded-lg focus:ring focus:ring-amber-300 bg-amber-600 hover:bg-amber-500 transition ease-in-out duration-200">
                    See on Amazon</a>

            </div>
        </div>
        <div class="relative pb-8 px-4 sm:px-6 lg:col-span-7 lg:pl-16 lg:pr-0 xl:pl-20">
            <div
                class="hidden lg:absolute lg:-top-32 lg:bottom-0 lg:left-[-100vw] lg:right-[-100vw] lg:block lg:bg-slate-100">
            </div>
            <figure class="relative mx-auto max-w-md text-center lg:mx-0 lg:text-left">
                <div class="flex justify-center text-blue-600 lg:justify-start">
                    <div class="flex gap-1"><svg aria-hidden="true" viewBox="0 0 20 20" class="h-5 w-5 fill-current">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                            </path>
                        </svg><svg aria-hidden="true" viewBox="0 0 20 20" class="h-5 w-5 fill-current">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                            </path>
                        </svg><svg aria-hidden="true" viewBox="0 0 20 20" class="h-5 w-5 fill-current">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                            </path>
                        </svg><svg aria-hidden="true" viewBox="0 0 20 20" class="h-5 w-5 fill-current">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                            </path>
                        </svg><svg aria-hidden="true" viewBox="0 0 20 20" class="h-5 w-5 fill-current">
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                            </path>
                        </svg></div>
                </div>
                <blockquote class="mt-2">
                    <p class="font-display text-lg font-medium text-slate-900">“I found this book to be comprehensive
                        and easily digestible. I can honestly say, as a seasoned entrepreneur, that I learned new things
                        from this book and have applied them to my brand with much success. An insightful read. Highly
                        recommend”</p>
                </blockquote>
                <figcaption class="mt-2 text-sm text-slate-500"><strong
                        class="font-semibold text-blue-600 before:content-['—_']">Du El</strong>, Entrepreneur, UK
                </figcaption>
            </figure>
        </div>

    </div>
</section>