<div class="container mx-auto my-auto bg-white rounded-2xl mt-12">
    <div class="mt-12">
        <h3 class="text-5xl leading-[1.25] wow fadeInUp text-center pt-6" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
            Charting Success with 'Branding for Profit'
        </h3>
    </div>
    <div class="flex justify-center">
        <div class="w-full md:w-3/5 mt-12 justify-center">

        <a href="https://brandingforprofitbook.com/" class="justify-center">
                {{ with resources.Get "images/branding-for-profit-banner.png" }}
                <img src="{{ .RelPermalink }}" class="w-3/6" alt="">
                {{ end }}
        </a>
        </div>
    </div>
    <div class="flex justify-center">
        <div class="w-full md:1/2">
                <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
                    <figure class="max-w-screen-md mx-auto">
                        <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
                        </svg> 
                        <blockquote>
                            <p class="mb-8 lg:text-xl">"EVERY SUCCESSFUL, WELL-KNOWN BRAND IS USING THESE MIND-BLOWING TACTICS. <br><br> Many people think that the brands we know and love have succeeded by delivering high-quality service and great products. Although this may be true, other powerful factors are at play and are the real driving force behind their success. These factors remain mysteriously unknown to the general public. They are like secret, magic tricks that have a potent effect on the unsuspecting customer. Yet big companies have been knowingly using these spellbinding tactics for many years. Employing these methods has allowed them to gain a large market share and command extraordinary profits. All while their competition fights over the scraps. If you want to create a brand that can thrive in this highly competitive market, it is time to arm yourself with these same weapons of influence. <br><br> READ THIS BOOK NOW TO START GAINING YOUR EDGE!"</p>
                        </blockquote>
                        <figcaption class="flex items-center justify-center mt-6">
                            <img class="w-6 h-6 rounded-full pl-3" src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="profile picture">
                            <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                                <div class="pr-3 font-medium text-gray-900 dark:text-white">Lisa Duffin</div>
                            </div>
                        </figcaption>
                        <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400 mt-2">It’s simply the best guide to branding for early-stage entrepreneurs.</div>
                        <a class="block max-w-max mx-auto font-heading font-medium text-amber-600 hover:text-amber-500 text-2xl overflow-hidden" href="/contact">
                            <div class="pl-3 font-regular text-2xl dark:text-gray-400 mt-6 ">Read More</div>
                            <div class="w-full "></div>
                        </a>
                    </figure>
                </div>
        </div>
    </div>
</div>