<Section>
    <div class="container mx-auto my-auto mb-12">
        <div class="mt-6">
            <h2 class="text-center text-4xl font-medium text-black mb-6">
                Our Success Stories
            </h2>
        </div>
        <div class="flex justify-center mt-12">
            <div class="w-1/2">
                {{ range where .Site.RegularPages "Type" "case-study" }}
                <a href="{{ .RelPermalink }}" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    {{ with .Params }}
                    {{ $image_path := "case-study/saturn-spraying-systems/images/saturn-2.png" }}
                    <img src="{{ $image_path }}" alt="Image" class="object-cover w-1/2 rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ .title }}</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ .description }}</p>
                        <p class="mb-3 font-normal font-heading font-medium text-amber-600 hover:text-amber-500">Read More</p>
                    </div>
                    
                    {{ end }}
                </a>
                {{ end }}
            </div>
        </div>
        
    </div>
</Section>